<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head data-hook="inside_head">
  <%= render :partial => 'spree/shared/head' %>
</head>
<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<div class="container">
  <header id="header" class="row">
    <section id="logo" class="eight columns alpha">
      logo
    </section>
    <section id="search" class="seven columns">
      Search Bar
    </section>
    <section id="cart" class="one columns omega">
      Cart
    </section>
  </header>
  <nav id="breadcrumbs" class="row">
    <section id="breadcrumbs" class="fifteen columns alpha">
      Breadcrumb Here
    </section>
    <section id="breadcrumbs" class="one columns omega">
        Help
    </section>
  </nav>
  <div id="content">
    <%= flash_messages %>
    <%= yield %>
  </div>
</div>

<%= render :partial => 'spree/shared/google_analytics' %>
<script>
    Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
</script>
</body>
</html>