<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head data-hook="inside_head">
  <%= render :partial => 'spree/shared/head' %>
</head>
<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<div id="header_container">
  <div class="skeleton">
      <header id="header">
        <section id="logo" class="eight columns alpha">
          <%= link_to image_tag("logo.png"), spree.root_path %>
        </section>
        <section id="search" class="seven columns">
          <%= render partial: 'spree/shared/search' %>
        </section>
        <section id="cart" class="one columns omega">
          <%= link_to '/cart'  do %>
              <span id="shopping-cart-image"><i class="fa fa-shopping-cart"></i></span>
              <span id="shopping-cart-text">Shopping Cart</span>
          <% end %>
        </section>
      </header>
  </div>
  <div id="header_nav">
    <div class="skeleton">
          <nav id="breadcrumbs" class="row">
            <section id="breadcrumbs" class="fifteen columns alpha">
              Breadcrumb Here
            </section>
            <section id="breadcrumbs" class="one columns omega">
                Help
            </section>
        </nav>
     </div>
  </div>
  </div>
</div>
  <div id="content">
    <%= flash_messages %>
    <%= yield %>
  </div>
</div>

<%= render :partial => 'spree/shared/google_analytics' %>
<script>
    Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
</script>
</body>
</html>