<% cache [current_currency, @product] do %>

    <main data-hook="product_show" itemscope itemtype="http://schema.org/Product">
      <% @body_id = 'product-details' %>

      <div class="columns nine alpha" data-hook="product_left_part">
        <div class="row" data-hook="product_left_part_wrap">

          <div id="product-images" data-hook="product_images">

            <div id='slider' class='swipe'>
              <% if @product.images.empty? %>
                  <div class='swipe-wrap'>
                        <div>
                          <%= product_image(@product, :itemprop => "image") %>
                        </div>
                  </div>
              <% else %>
              <div class='swipe-wrap'>
                <% @product.images.each do |image| %>
                <div>
                  <%= image_tag image.attachment.url(:product), :itemprop => "image" %>
                </div>
                <% end %>
              </div>
              <% end %>
            </div>
            <span class="nav prev">Prev</span>
            <span class="nav next">Next</span>
          </div>

        </div>
      </div>

      <div class="columns seven omega" data-hook="product_right_part">
        <div class="row" data-hook="product_right_part_wrap">
            <div id="cart-form" data-hook="cart_form">
              <%= render :partial => 'cart_form' %>
            </div>
        </div>
      </div>

      <div id="product-description" data-hook="product_description" class="nine columns alpha">
        <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>

        <div itemprop="description" data-hook="description">
          <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
        </div>

      </div>

      <div id="social-media-links" data-hook="social-media-links">
      </div>

    </main>
<% end %>